<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark" id="head">
                <tr>
                    <th>TV Poster</th>
                    <th>Title</th>
                    <th>First Aired</th>
                    <th class="over">Overview</th>
                </tr>
            </thead>
            <tbody class="table-secondary">
                <tr *ngFor = "let product of filteredProducts">
                    <td><img 
                        *ngIf = "showImage"
                        [src] = "product.poster_path"
                        [style.width.px] = "imageWidth"
                        [style.margin.px] = "imageMargin"
                        [title] = "product.original_name"

                    ></td>
                    <td class="title">{{ product.original_name }}</td>
                    <td>{{ product.first_air_date }}</td>
                    <td class="overd">{{ product.overview }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>