<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>
  
  <nav class="navbar navbar-light" style="text-align:center;">
    <ul class="nav nav-pills">
      <li><a [routerLink] ="['./welcome']" class="nav-link">Home</a></li>
      <li><a [routerLink] ="['./products']" class="nav-link">Movies</a></li>
      <li><a [routerLink] ="['./products2']" class="nav-link">TV Shows</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
