
@import "~bootstrap/dist/css/bootstrap.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}
.overd{
  font-size: medium;
}
.over{
  width: 50%;
}
.title{
  font-size: x-large;
}
#head{
  font-size: x-large;
}
